/* All the CSS related to answers Page*/
.answer {
    display: flex;
    flex-direction: row;
    border-bottom: #000000 1px dashed;
}

.answerText {
    width: 75%;
    margin-left: 2%
}

.answerAuthor {
    margin-left: 1%;
}

.answer_author {
    color: green;
}
