.answer_question_title {
  max-width: 60%;
  text-align: center;
  flex: 1;
  font-size: 1.5rem;
  font-weight: 600;
  color: #212529;
  line-height: 1.3;
}

.button_container {
  min-width: 200px;
  text-align: right;
}
