.icon {
    margin-right: 8px;
    font-size: 1.1rem;
    vertical-align: middle;
}

/* Other styles remain as defined */
.menu_button {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    width: -webkit-fill-available;
    justify-content: center;
}

.menu_selected {
    background-color: #f0f0f0;
    font-weight: bold;
}

.sideBarNav {
    display: flex;
    flex-direction: column;
    width: 15%;
    border-right: dashed;
    padding: 2% 0 4% 0;
    align-items: center;
}