.main_profile {
  padding: 0;
  max-width: 100%;
  margin: 0;
  overflow-x: visible;
}

@media (max-width: 768px) {
  .main_profile {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .main_profile {
    padding: 0;
  }
}

.main_profile h2 {
  text-align: center;
  color: #6c757d;
  margin-top: 3rem;
}
